<!DOCTYPE html>
<html>

<head>
	<title>List Page</title>
</head>

<body>
	<h2>List Page</h2>
	<a href='/insert'>Insert Data</a>
	<hr/>
	<table>
		<tr>
			<th>DELETE</th>
			<th>EDIT</th>
			<th>ID</th>
			<th>Temperature</th>
			<th>Humidity</th>
			<th>Time</th>
		</tr>
	<% dht.forEach(function(item,index){ %>
		<tr>
			<td><a href='/delete/<%=item.id %>'>DELETE</a></td>
			<td><a href='/edit/<%=item.id %>'>EDIT</a></td>
			<td><%=item.id %></td>
			<td align="center"><%=item.Temperature %></td>
			<td align="center"><%=item.Humidity %></td>
			<td><%=item.time %></td>
		</tr>
	<% }); %>
	</table>
</body>

</html>